.idea
.vscode
!.gitkeep
*.log

.env
sftp-config.json
/public/api.html
/application/extra
/application/route.php
/application/config.php
/runtime
/public/uploads
/thinkphp
/vendor
/addons
/public/assets/js/backend/general/crontab.js
/application/common/model/Crontab.php
/application/common/controller/Api.php
/application/common/controller/Creator.php
/public/tenwminsu
/public/goodsdetail
/public/meishidetail
/public/minshudetail
/public/pagendex
/public/xianludetail
/public/rcommenddetial.html
/public/tenwminsutest
/public/webhtml
/public/creator
/public/nginx.htaccess
/application/api/view
/mixphp*
/mix*
/.editorconfig
