<style>
    .msg-wrap{
        margin-left: 13vw!important;
    }
</style>
<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select  id="c-type" class="form-control selectpicker" name="row[type]">
                <option value="">请选择服务站</option>
                <option value="0" {if condition = '$row.type == 0'} selected {/if}>县服务站</option>
                <option value="1" {if condition = '$row.type == 1'} selected {/if}>乡服务站</option>
                <option value="2" {if condition = '$row.type == 2'} selected {/if}>村服务站</option>
                <option value="3" {if condition = '$row.type == 3'} selected {/if}>银行</option>
                <option value="4" {if condition = '$row.type == 4'} selected {/if}>担保</option>
            </select>
        </div>
    </div>
    <div class="form-group Area">
        <label class="col-sm-2 control-label">{:__('Address')}:</label>
        <div class="col-sm-7">
            <select style="width:92PX;height:35px;border:1px solid #ccc;" id="countyId" data-rule="required" name="row[area]">
                <option value="嵩县">嵩县</option>
            </select>
            <select style="width:92PX;height:35px;border:1px solid #ccc;" id="townId" name="row[country]" data-value="{$row.country}">
                <option value="">请选择</option>
            </select>
            <select style="width:92PX;height:35px;border:1px solid #ccc;" id="villageId" name="row[village]" data-value="{$row.village}">
                <option value="">请选择</option>
            </select>
        </div>
    </div>
    <!---->
    <!--<div class="form-group">-->
    <!--<label class="control-label col-xs-12 col-sm-2">{:__('Pid')}:</label>-->
    <!--<div class="col-xs-12 col-sm-8">-->
    <!--<input id="c-pid" class="form-control" name="row[pid]" type="number" value="0">-->
    <!--</div>-->
    <!--</div>-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" class="form-control" name="row[name]" type="text" placeholder="请填写具体服务站名称，不需要后缀‘服务站’" value="{$row.name|htmlentities}">
            <span class="text-danger">* 示例：嵩县服务站 只需填写嵩县 ; 银行等填写全名称</span>
        </div>
    </div>
    <div class="form-group Bank hide">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bank_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bank_id" data-source="organization/servicestation/getbank?model=bank" data-field="bank_name" data-primary-key="id" class="form-control selectpage" data-multiple="true" name="row[bank_id]" type="text" value="{$row.bank_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Break')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-break" class="form-control" rows="5" name="row[break]" cols="50">{$row.break|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
