<link rel="stylesheet" href="/assets/css/auth-admin/auth_admin.css">
<form id="edit-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
    {:token()}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Group')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('group[]', $groupdata, $groupids, ['class'=>'form-control selectpicker', 'multiple'=>'', 'data-rule'=>'required'])}
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="control-label col-xs-12 col-sm-2">{:__('Service_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control hide" id="service_id" name="row[service_id]" value="{$row.service_id|htmlentities}"/>
            <input type="text" class="form-control" readonly id="service_name" value="{$row.service_name|htmlentities}"/>
            <button type="button" class="btn btn-primary select" data-toggle="modal" data-target="#myModal">选择服务站</button>
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="control-label col-xs-12 col-sm-2">{:__('Username')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="username" name="row[username]" value="{$row.username|htmlentities}" data-rule="required;username" />
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="control-label col-xs-12 col-sm-2">{:__('登录手机号')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="phone" name="row[phone]" value="{$row.phone|htmlentities}" data-rule="required:mobile" />
        </div>
    </div>
    <div class="form-group">
        <label for="nickname" class="control-label col-xs-12 col-sm-2">{:__('Nickname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="nickname" name="row[nickname]" autocomplete="off" value="{$row.nickname|htmlentities}" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="control-label col-xs-12 col-sm-2">{:__('Email')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="email" class="form-control" id="email" name="row[email]" value="{$row.email|htmlentities}" />
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="control-label col-xs-12 col-sm-2">{:__('Password')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="password" class="form-control" id="password" name="row[password]" autocomplete="new-password" value="" data-rule="password" />
        </div>
    </div>
    <!--<div class="form-group">-->
        <!--<label for="loginfailure" class="control-label col-xs-12 col-sm-2">{:__('Loginfailure')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
            <!--<input type="number" class="form-control" id="loginfailure" name="row[loginfailure]" value="{$row.loginfailure}" data-rule="required" />-->
        <!--</div>-->
    <!--</div>-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['normal'=>__('Normal'), 'hidden'=>__('Hidden')], $row['status'])}
        </div>
    </div>
    <!-- 模态框 -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title">选择服务站</h4>
                    <input type="text" class="hide" id="nowselectid">
                    <input type="text" disabled id="nowselectname">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- 模态框主体 -->
                <div class="modal-body">
                    <div id="editbody">
                        <div class="addbody1">
                            {if $servicedatas.area != []}
                                <div class="jia xian"></div><span class="spans" sid="0">郸城县</span>
                            {/if}
                            {if $servicedatas.data != []}
                                {volist name="$servicedatas.data" id="v"}
                                <div class="one {if $servicedatas.area != []}hide{/if}">
                                    {if $v.son != []}
                                    <div class="jia xiang"></div><span class="spans" sid="{$v.id}">{$v.name}</span>
                                    {volist name="$v.son" id="vv"}
                                    <div class="two hide">
                                        <span class="spans" sid="{$vv.id}">{$vv.name}</span>
                                    </div>
                                    {/volist}
                                    {else /}
                                    <span class="spans" sid="{$v.id}">{$v.name}</span>
                                    {/if}
                                </div>
                                {/volist}
                            {/if}
                            {if $servicedatas.other != []}
                                <div class="other">
                                    {volist name="$servicedatas.other" id="v"}
                                    <span class="spans" sid="{$v.id}">{$v.name}</span>
                                    {/volist}
                                </div>
                            {/if}
                        </div>
                    </div>
                </div>

                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">确定</button>
                </div>

            </div>
        </div>
    </div>
    <div class="form-group hidden layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled submits">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>