<link rel="stylesheet" href="/assets/css/jstree/style.min.css">
<link rel="stylesheet" href="/assets/css/auth-admin/auth_admin.css">
<div class="panel panel-default panel-intro">
    {:build_heading()}
    <div class="panel-body">
        <div id="leftbody">
            <div class="leftbody1">
                <div class="jia xian"></div><span class="spans" sid="{$servicedatas.area.id}">{$servicedatas.area['name']}</span>
                {volist name="$servicedatas.data" id="v"}
                <div class="one hide">
                    {if $v.son != []}
                    <div class="jia xiang"></div><span class="spans" sid="{$v.id}">{$v.name}</span>
                    {volist name="$v.son" id="vv"}
                    <div class="two hide">
                        <span class="spans" sid="{$vv.id}">{$vv.name}</span>
                    </div>
                    {/volist}
                    {else /}
                    <span class="spans" sid="{$v.id}">{$v.name}</span>
                    {/if}
                </div>
                {/volist}
                <div class="other">
                    {volist name="$servicedatas.other" id="v"}
                    <span class="spans" sid="{$v.id}">{$v.name}</span>
                    {/volist}
                </div>
            </div>
        </div>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <table>
                    <tr>
                        <td>序号</td>
                        <td>账号</td>
                        <td>姓名</td>
                        <td>邮箱</td>
                        <td>所属服务站</td>
                        <td>角色</td>
                        <td>状态</td>
                        <td>最后登录时间</td>
                        <td>操作</td>
                    </tr>
                     <tr>
                        <td>1</td>
                        <td>12346855214</td>
                        <td>快快快</td>
                        <td>22222222@qq.com</td>
                        <td>小孙庄服务站</td>
                        <td>大队支书</td>
                        <td>正常</td>
                        <td>2020-10-01 12:00:00</td>
                        <td>
                            <a href="#">修改</a>
                            <a href="#">重置密码</a>
                            <a href="#">删除</a>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>
<script src="/assets/js/jquery-3.4.1.min.js"></script>
<script src="/assets/js/jstree/jstree.min.js"></script>
<script>

</script>