<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="/assets/css/jstree/style.min.css">
<link rel="stylesheet" href="/assets/css/auth-admin/auth_admin.css">
<!--D:\phpStudy\PHPTutorial\WWW\testfast\public\assets\css\modules\layer\default\layer.css-->
<link rel="stylesheet" href="/assets/css/layui.css">
<link rel="stylesheet" href="/assets/css/modules/layer/default/layer.css">
<style>
    .layui-table-tips-c:before {
        right: -2.1px!important;
        top: -1px!important;
    }
    .layui-table-tips-c{
        padding: 0px!important;
        right: -12px!important;
    }
    #layui-table-page1{
        text-align: center!important;
    }
    .layui-laypage-btn,.layui-input{
        color: black!important;
    }
</style>
<div class="panel panel-default panel-intro">
    {:build_heading()}
    <div class="panel-body">
        <div id="leftbody">
            <div class="leftbody1">
                {if $servicedatas.area != []}
                    <div class="jia xian"></div><span class="spans" sid="{$servicedatas.area.id}">{$servicedatas.area['name']}</span>
                {/if}
                {if $servicedatas.data != []}
                    {volist name="$servicedatas.data" id="v"}
                    <div class="one {if $servicedatas.area != []}hide{/if}">
                        <div class="jia xiang"></div><span class="spans" sid="{$v.id}">{$v.name}</span>
                        {volist name="$v.son" id="vv"}
                        <div class="two hide">
                            <span class="spans" sid="{$vv.id}">{$vv.name}</span>
                        </div>
                        {/volist}
                    </div>
                    {/volist}
                {/if}
                {if $servicedatas.other != []}
                <div class="other">
                    {volist name="$servicedatas.other" id="v"}
                    <span class="spans" sid="{$v.id}">{$v.name}</span>
                    {/volist}
                </div>
                {/if}
            </div>
        </div>
        <span id="service_id" class="hide">{$servicedatas.id}</span>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="demoTable">
                    <div class="layui-inline">
                        <input class="layui-input" name="id" id="demoReload" autocomplete="off" placeholder="可通过账号或姓名进行查找">
                    </div>
                    <button class="layui-btn" data-type="reload">搜索</button>
                    <a href="/auth/admin/add" data-area='["50%","95%"]' class="btn btn-success btn-dialog {:$auth->check('auth/admin/add')?'':'hide'}" title="{:__('Add')}" style="float: right;margin-right: 3vw" ><i class="fa fa-plus"></i> {:__('Add')}</a>
                    <a href="javascript:;" data-area='["50%","95%"]' class="edits btn btn-success btn-dialog hide" title="{:__('Edit')}" style="float: right;margin-right: 3vw" ><i class="fa fa-plus"></i> {:__('Edit')}</a>

                </div>
                <table class="layui-hide" id="test" lay-filter="test"></table>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs {:$auth->check('auth/admin/edit')?'':'hide'}" lay-event="edit">修改</a>
    {{# if (d.status == 'normal'){}}
    <a class="layui-btn layui-btn-xs {:$auth->check('auth/admin/status')?'':'hide'}" lay-event="close">关停</a>
    {{# } else { }}
    <a class="layui-btn layui-btn-xs {:$auth->check('auth/admin/status')?'':'hide'}" lay-event="open">恢复</a>
    {{# } }}
    <a class="layui-btn layui-btn-danger layui-btn-xs {:$auth->check('auth/admin/del')?'':'hide'}" lay-event="del">删除</a>
</script>
<script src="/assets/js/jquery-3.4.1.min.js"></script>
<script src="/assets/js/jstree/jstree.min.js"></script>