<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Nickname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-nickname" data-rule="required" class="form-control" name="row[nickname]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{:__('Address')}:</label>
        <div class="col-sm-7">
            <select style="width:92PX;height:35px;border:1px solid #ccc;" id="countyId" data-rule="required" name="row[area]">
                <option value="嵩县">嵩县</option>
            </select>
            <select style="width:92PX;height:35px;border:1px solid #ccc;" id="townId" name="row[country]" data-value="">
                <option value="">请选择</option>
            </select>
            <select style="width:92PX;height:35px;border:1px solid #ccc;" id="villageId" name="row[village]" data-value="">
                <option value="">请选择</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Phone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-phone" class="form-control" data-rule="required" name="row[phone]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Idcard')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-idcard" class="form-control" data-rule="required" name="row[idcard]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_poor')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[is_poor]', ['是'=>'是', '否'=>'否'],'是')}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Credit_rating')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select  id="c-credit_rating" class="form-control selectpicker" name="row[credit_rating]">
                <option value="A" selected>A</option>
                <option value="AA">AA</option>
                <option value="AAA">AAA</option>
                <option value="AAA+">AAA+</option>
                <option value="无信用">无信用</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Loan_starttime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-loan_starttime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[loan_starttime]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Loan_endtime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-loan_endtime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[loan_endtime]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Payback_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-payback_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[payback_time]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Loan_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-loan_price" class="form-control" data-rule="required" name="row[loan_price]" type="number" min="0" placeholder="单位：元">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Year_interest_rate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-year_interest_rate" class="form-control" data-rule="required" name="row[year_interest_rate]" type="number" min="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Discount_rate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-discount_rate" class="form-control" data-rule="required" name="row[discount_rate]" type="number" min="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Discount_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-discount_price" class="form-control" data-rule="required" name="row[discount_price]" type="number" min="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Loan_use')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[loan_use]', ['第一产业'=>'第一产业', '第二产业'=>'第二产业', '第三产业'=>'第三产业','无'=>'无'],'第一产业')}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Loan_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[loan_type]', ['新增'=>'新增', '续贷'=>'续贷'],'新增')}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Loan_bank')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select  id="c-loan_bank" class="form-control selectpicker" name="row[loan_bank]">
                {foreach name="$bankinfo" item="vo"}
                <option value="{$vo}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Loan_bank_desc')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-loan_bank_desc" class="form-control" rows="5" placeholder="" name="row[loan_bank_desc]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_joincredit')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[is_joincredit]', ['未参加过'=>'未参加过', '良好'=>'良好','优秀'=>'优秀'],'未参加过')}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_safe')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[is_safe]', ['否'=>'否', '是'=>'是'],'否')}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Entrustprove')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-entrustprove" class="form-control hide" size="50" name="row[entrustprove]" type="text" value="" />
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-entrustprove" class="btn btn-danger plupload cropper" data-input-id="c-entrustprove" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/webp" data-multiple="true" data-preview-id="p-entrustprove"><i class="fa fa-upload"></i>上传</button></span>
                </div>
                <span class="msg-box n-right"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-entrustprove"></ul>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>