<style>
    .btn-trash{
        display: none!important;
    }
</style>
<form id="detail-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-id" readonly class="form-control" type="text" value="{$row.id}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Local_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-local_no" readonly class="form-control" type="text" value="{$row.local_no}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Nickname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-nickname" readonly class="form-control" type="text" value="{$row.nickname}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Phone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-phone" readonly class="form-control" type="text" value="{$row.phone}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{:__('Address')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-area" class="form-control" disabled type="text" value="{$row.a_c_v|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Idcard')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-idcard" class="form-control" disabled name="row[idcard]" type="text" value="{$row.idcard|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_poor')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="is_poor" class="form-control" name="" type="text" disabled
                   {switch $row.is_poor}
                   {case 是}value="是"{/case}
            {case 否}value="否"{/case}
            {default /}
            {/switch}
            >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Credit_rating')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="credit_rating" class="form-control" name="" type="text" disabled
                   {switch $row.credit_rating}
                   {case 无信用}value="无信用"{/case}
            {case A}value="A"{/case}
            {case AA}value="AA"{/case}
            {case AAA}value="AAA"{/case}
            {case AAA+}value="AAA+"{/case}
            {default /}
            {/switch}
            >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Loan_starttime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-loan_starttime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[loan_starttime]" disabled type="text" value="{$row.loan_starttime|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Loan_endtime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-loan_endtime" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[loan_endtime]" disabled type="text" value="{$row.loan_endtime|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Payback_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-payback_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[payback_time]" disabled type="text" value="{$row.payback_time|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Year_interest_rate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-year_interest_rate" class="form-control" data-rule="required" name="row[year_interest_rate]" type="number" disabled min="0" value="{$row.year_interest_rate|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Discount_rate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-discount_rate" class="form-control" data-rule="required" name="row[discount_rate]" disabled type="number" min="0" value="{$row.discount_rate|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Discount_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-discount_price" class="form-control" data-rule="required" name="row[discount_price]" disabled type="number" min="0" value="{$row.discount_price|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Loan_use')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-loan_use" class="form-control" name="" type="text" disabled
                   {switch $row.loan_use}
                   {case 无}value="无"{/case}
            {case 第一产业}value="第一产业"{/case}
            {case 第二产业}value="第二产业"{/case}
            {case 第三产业}value="第三产业"{/case}
            {default /}
            {/switch}
            >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Loan_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-loan_type" class="form-control" name="" type="text" disabled
                   {switch $row.loan_type}
                   {case 新增}value="新增"{/case}
            {case 续贷}value="续贷"{/case}
            {default /}
            {/switch}
            >
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Loan_bank')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select  id="c-loan_bank" class="form-control selectpicker" name="$row[loan_bank]" disabled>
                {foreach name="$bankinfo" item="vo"}
                <option value="{$vo}" {in name="vo" value="$row.loan_bank"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Loan_bank_desc')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-loan_bank_desc" class="form-control" rows="5" placeholder="" name="row[loan_bank_desc]" disabled cols="50">{$row.loan_bank_desc|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_joincredit')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-is_joincredit" class="form-control" name="" type="text" disabled
                   {switch $row.is_joincredit}
                   {case 未参加过}value="未参加过"{/case}
            {case 良好}value="良好"{/case}
            {case 优秀}value="优秀"{/case}
            {default /}
            {/switch}
            >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_safe')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-is_safe" class="form-control" name="" type="text" disabled
                   {switch $row.is_safe}
                   {case 否}value="否"{/case}
            {case 是}value="是"{/case}
            {default /}
            {/switch}
            >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Check_status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-check_status" class="form-control" name="" type="text" disabled
                   {switch $row.check_status}
                   {case 0}value="待审核"{/case}
            {case 1}value="审核不通过"{/case}
            {case 2}value="银行审核中"{/case}
            {case 3}value="银行审核通过"{/case}
            {case 4}value="银行审核未通过"{/case}
            {default /}
            {/switch}
            >
        </div>
    </div>
    {if ($row.check_status == 3) OR ($row.check_status == 4)}
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Bank_info')}:</label>
            <div class="col-xs-12 col-sm-8">
                <textarea id="c-bank_info" class="form-control" rows="5" placeholder="" name="row[bank_info]" disabled cols="50">{$row.bank_info}</textarea>
            </div>
        </div>
    {/if}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Entrustprove')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-entrustprove" class="form-control hide" size="50" name="row[entrustprove]" type="text" value="{$row.entrustprove|htmlentities}" />
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-entrustprove" class="btn btn-danger plupload hide" data-input-id="c-entrustprove" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/webp" data-multiple="true" data-preview-id="p-entrustprove"><i class="fa fa-upload"></i>上传</button></span>
                </div>
                <span class="msg-box n-right"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-entrustprove"></ul>
        </div>
    </div>
</form>