<style>
    .field label{
        width: 100%;
    }
</style>
<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Nickname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-nickname" data-rule="required" class="form-control" name="row[nickname]" type="text" value="{$row.nickname|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sex')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="col-xs-12 col-sm-8" >
                {:build_radios('row[sex]', ['0'=>'男', '1'=>'女'],$row.sex)}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Age')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-age" class="form-control" name="row[age]" type="number" min="0" value="{$row.age|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Phone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-phone" class="form-control" name="row[phone]" type="text" value="{$row.phone|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Area')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-area" class="form-control" name="row[area]" type="text" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Country')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-country" class="form-control" name="row[country]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Village')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-village" class="form-control" name="row[village]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Address')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-address" class="form-control" name="row[address]" type="text" value="{$row.address|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Idcard')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-idcard" class="form-control" name="row[idcard]" type="text" value="{$row.idcard|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Home_num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-home_num" class="form-control" name="row[home_num]" type="number" min="0" value="{$row.home_num|htmlentities}" style="width: 80%">&nbsp;&nbsp;<span>人</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Home_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-home_name" class="form-control" name="row[home_name]" type="text" placeholder="多个以逗号隔开" value="{$row.home_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Credit_rating')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select  id="c-credit_rating" class="form-control selectpicker" name="row[credit_rating]">
                <option value="1" selected>A</option>
                <option value="2">AA</option>
                <option value="3">AAA</option>
                <option value="4">AAA+</option>
                <option value="0">无信用</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Credit_grade')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-credit_grade" class="form-control" name="row[credit_grade]" type="number" min="0" value="{$row.credit_grade|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_poor')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[is_poor]', ['0'=>'贫困户', '1'=>'已脱贫享受政策'],$row.is_poor)}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_user')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[is_user]', ['1'=>'是', '0'=>'否'],$row.is_user)}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Loan_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-loan_price" class="form-control" step="0.01" name="row[loan_price]" type="number" min="0" placeholder="单位：元" value="{$row.loan_price|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Loan_term')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-loan_term" class="form-control" name="row[loan_term]" type="number" min="0" style="width: 80%" value="{$row.loan_term|htmlentities}"><span>月</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Loan_use')}:</label>
        <div class="col-xs-12 col-sm-8 field">
            {:build_radios('row[loan_use]', [
            '1'=>'林果业',
            '2'=>'畜牧业',
            '3'=>'食用菌',
            '4'=>'药材业',
            '5'=>'蔬菜业',
            '6'=>'其他',
            '7'=>'【特色工业】农副产品深加工',
            '8'=>'【特色工业】其他',
            '9'=>'【现代服务业】生态旅游',
            '10'=>'【特色工业】中药材深加工',
            '11'=>'【现代服务业】电子商务',
            '12'=>'【现代服务业】其他',
            ],$row.loan_use)}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Loan_desc')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-loan_desc" class="form-control" rows="5" name="row[loan_desc]" cols="50">{$row.loan_desc|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Loan_bank')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select  id="c-loan_bank" class="form-control selectpicker" name="$row[loan_bank]">
                {foreach name="$bankinfo" item="vo"}
                <option value="{$key}" {in name="key" value="$row.loan_bank"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Idcard_up')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-idcard_up" class="form-control hide" size="50" name="$row[idcard_up]" type="text" value="{$row.idcard_up|htmlentities}" />
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-idcard_up" class="btn btn-danger plupload cropper" data-input-id="c-idcard_up" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/webp" data-multiple="false" data-preview-id="p-idcard_up"><i class="fa fa-upload"></i>上传</button></span>
                </div>
                <span class="msg-box n-right"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-idcard_up"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Idcard_down')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-idcard_down" class="form-control hide" size="50" name="row[idcard_down]" type="text" value="{$row.idcard_down|htmlentities}" />
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-idcard_down" class="btn btn-danger plupload cropper" data-input-id="c-idcard_down" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/webp" data-multiple="false" data-preview-id="p-idcard_down"><i class="fa fa-upload"></i>上传</button></span>
                </div>
                <span class="msg-box n-right"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-idcard_down"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Idcard_copy')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-idcard_copy" class="form-control hide" size="50" name="row[idcard_copy]" type="text" value="{$row.idcard_copy|htmlentities}" />
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-idcard_copy" class="btn btn-danger plupload cropper" data-input-id="c-idcard_copy" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/webp" data-multiple="false" data-preview-id="p-idcard_copy"><i class="fa fa-upload"></i>上传</button></span>
                </div>
                <span class="msg-box n-right"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-idcard_copy"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Accountbook_copy')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-accountbook_copy" class="form-control hide" size="50" name="row[accountbook_copy]" type="text" value="{$row.accountbook_copy|htmlentities}" />
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-accountbook_copy" class="btn btn-danger plupload cropper" data-input-id="c-accountbook_copy" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/webp" data-multiple="false" data-preview-id="p-accountbook_copy"><i class="fa fa-upload"></i>上传</button></span>
                </div>
                <span class="msg-box n-right"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-accountbook_copy"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Userloan_petition')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-userloan_petition" class="form-control hide" size="50" name="row[userloan_petition]" type="text" value="{$row.userloan_petition|htmlentities}" />
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-userloan_petition" class="btn btn-danger plupload cropper" data-input-id="c-userloan_petition" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/webp" data-multiple="false" data-preview-id="p-userloan_petition"><i class="fa fa-upload"></i>上传</button></span>
                </div>
                <span class="msg-box n-right"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-userloan_petition"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Userloan_promise')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-userloan_promise" class="form-control hide" size="50" name="row[userloan_promise]" type="text" value="{$row.userloan_promise|htmlentities}" />
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-userloan_promise" class="btn btn-danger plupload cropper" data-input-id="c-userloan_promise" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/webp" data-multiple="false" data-preview-id="p-userloan_promise"><i class="fa fa-upload"></i>上传</button></span>
                </div>
                <span class="msg-box n-right"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-userloan_promise"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Userloan_entrust')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-userloan_entrust" class="form-control hide" size="50" name="row[userloan_entrust]" type="text" value="{$row.userloan_entrust|htmlentities}" />
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-userloan_entrust" class="btn btn-danger plupload cropper" data-input-id="c-userloan_entrust" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/webp" data-multiple="false" data-preview-id="p-userloan_entrust"><i class="fa fa-upload"></i>上传</button></span>
                </div>
                <span class="msg-box n-right"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-userloan_entrust"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Other_idcard_up')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-other_idcard_up" class="form-control hide" size="50" name="row[other_idcard_up]" type="text" value="{$row.other_idcard_up|htmlentities}" />
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-other_idcard_up" class="btn btn-danger plupload cropper" data-input-id="c-other_idcard_up" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/webp" data-multiple="false" data-preview-id="p-other_idcard_up"><i class="fa fa-upload"></i>上传</button></span>
                </div>
                <span class="msg-box n-right"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-other_idcard_up"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Other_idcard_down')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-other_idcard_down" class="form-control hide" size="50" name="row[other_idcard_down]" type="text" value="{$row.other_idcard_down|htmlentities}" />
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-other_idcard_down" class="btn btn-danger plupload cropper" data-input-id="c-other_idcard_down" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/webp" data-multiple="false" data-preview-id="p-other_idcard_down"><i class="fa fa-upload"></i>上传</button></span>
                </div>
                <span class="msg-box n-right"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-other_idcard_down"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Other_accountbook')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-other_accountbook" class="form-control hide" size="50" name="row[other_accountbook]" type="text" value="{$row.other_accountbook|htmlentities}" />
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-other_accountbook" class="btn btn-danger plupload cropper" data-input-id="c-other_accountbook" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/webp" data-multiple="false" data-preview-id="p-other_accountbook"><i class="fa fa-upload"></i>上传</button></span>
                </div>
                <span class="msg-box n-right"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-other_accountbook"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Other_accountbook_copy')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-other_accountbook_copy" class="form-control hide" size="50" name="row[other_accountbook_copy]" type="text" value="{$row.other_accountbook_copy|htmlentities}" />
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-other_accountbook_copy" class="btn btn-danger plupload cropper" data-input-id="c-other_accountbook_copy" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/webp" data-multiple="false" data-preview-id="p-other_accountbook_copy"><i class="fa fa-upload"></i>上传</button></span>
                </div>
                <span class="msg-box n-right"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-other_accountbook_copy"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Marry_card')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-marry_card" class="form-control hide" size="50" name="row[marry_card]" type="text" value="{$row.marry_card|htmlentities}" />
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-marry_card" class="btn btn-danger plupload cropper" data-input-id="c-marry_card" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/webp" data-multiple="false" data-preview-id="p-marry_card"><i class="fa fa-upload"></i>上传</button></span>
                </div>
                <span class="msg-box n-right"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-marry_card"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Loan_status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[loan_status]', $loanstatus,$row.loan_status)}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"><span class="text-danger">* </span>{:__('Payback_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-payback_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[payback_time]" type="text" style="width: 27rem" value="{:$row.payback_time?datetime($row.payback_time):''}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
