<style>
    .field label{
        width: 100%;
    }
    .btn-trash{
        display: none!important;
    }
</style>
<form id="detail-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

        <div class="form-group">
            <label class="col-sm-2 control-label">{:__('Areas')}:</label>
            <div class="col-sm-7">
                <input id="c-area" class="form-control" disabled type="text" value="{$row.a_c_v|htmlentities}">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Nickname')}:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-nickname" data-rule="required" class="form-control" disabled name="row[nickname]" type="text" value="{$row.nickname|htmlentities}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Credit_code')}:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-credit_code" data-rule="required" class="form-control" disabled name="row[credit_code]" type="text" value="{$row.credit_code|htmlentities}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Deputy_username')}:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-deputy_username" class="form-control" name="row[deputy_username]" disabled type="text" min="0" value="{$row.deputy_username|htmlentities}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Phone')}:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-phone" class="form-control" name="row[phone]" disabled type="text" value="{$row.phone|htmlentities}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Address')}:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-address" class="form-control" name="row[address]" disabled type="text" value="{$row.address|htmlentities}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Staff_num')}:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-staff_num" class="form-control" name="row[staff_num]" disabled placeholder="请输入主要股东数量" type="text" value="{$row.staff_num|htmlentities}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Loan_price')}:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-loan_price" class="form-control" name="row[loan_price]" disabled type="number" min="0" value="{$row.loan_price|htmlentities}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Loan_starttime')}:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-loan_starttime" data-rule="required" class="form-control datetimepicker" disabled data-date-format="YYYY-MM-DD" data-use-current="true" name="row[loan_starttime]" type="text" value="{$row.loan_starttime|htmlentities}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Loan_endtime')}:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-loan_endtime" data-rule="required" class="form-control datetimepicker" disabled data-date-format="YYYY-MM-DD" data-use-current="true" name="row[loan_endtime]" type="text" value="{$row.loan_endtime|htmlentities}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Payback_time')}:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-payback_time" data-rule="required" class="form-control datetimepicker" disabled data-date-format="YYYY-MM-DD" data-use-current="true" name="row[payback_time]" type="text" value="{$row.payback_time|htmlentities}">
            </div>
        </div>
        <!--<div class="form-group">-->
        <!--<label class="control-label col-xs-12 col-sm-2">{:__('Loan_term')}:</label>-->
        <!--<div class="col-xs-12 col-sm-8">-->
        <!--<input id="c-loan_term" class="form-control" name="row[loan_term]" disabled type="text" value="">-->
        <!--</div>-->
        <!--</div>-->
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Uppoor_num')}:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-uppoor_num" class="form-control" name="row[uppoor_num]" disabled type="text" value="{$row.uppoor_num|htmlentities}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Loan_type')}:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-loan_type" class="form-control" name="" type="text" disabled
                       {switch $row.loan_type}
                       {case 新增}value="新增"{/case}
                {case 续贷}value="续贷"{/case}
                {default /}
                {/switch}
                >
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Uppoor_type')}:</label>
            <div class="col-xs-12 col-sm-8 field">
                {:build_checkboxs('row[uppoor_type][]', [
                '1'=>'统一供种(供苗、幼崽等)',
                '2'=>'技术指导方式带贫',
                '3'=>'提供原料或作为企业原料等产品保底价或优惠价回收方式带贫',
                '4'=>'吸纳就业方式带贫',
                '5'=>'针对农产品产业通过加工、延伸产业链方式带贫',
                '6'=>'贫困户土地经营权、林权等入股或土地流转企业方式带贫',
                '7'=>'其他',
                ],$row.uppoor_type)}
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Uppoor_roster')}:</label>
            <div class="col-xs-12 col-sm-8">
                <div class="input-group">
                    <input id="c-uppoor_roster" class="form-control hide" size="50" name="row[uppoor_roster]" type="text" value="{$row.uppoor_roster|htmlentities}" />
                    <div class="input-group-addon no-border no-padding">
                        <span><button type="button" id="plupload-uppoor_roster" class="btn btn-danger plupload hide" data-input-id="c-uppoor_roster" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/webp" data-multiple="true" data-preview-id="p-uppoor_roster"><i class="fa fa-upload"></i>上传</button></span>
                    </div>
                    <span class="msg-box n-right"></span>
                </div>
                <ul class="row list-inline plupload-preview" id="p-uppoor_roster"></ul>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('Entrustprove')}:</label>
            <div class="col-xs-12 col-sm-8">
                <div class="input-group">
                    <input id="c-entrustprove" class="form-control hide" size="50" name="row[entrustprove]" type="text" value="{$row.entrustprove|htmlentities}" />
                    <div class="input-group-addon no-border no-padding">
                        <span><button type="button" id="plupload-entrustprove" class="btn btn-danger plupload hide" data-input-id="c-entrustprove" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/webp" data-multiple="true" data-preview-id="p-entrustprove"><i class="fa fa-upload"></i>上传</button></span>
                    </div>
                    <span class="msg-box n-right"></span>
                </div>
                <ul class="row list-inline plupload-preview" id="p-entrustprove"></ul>
            </div>
        </div>
    </form>
